@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mluvka-reg";
  src: url("../fonts/Mluvka-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Mluvka-light";
  src: url("../fonts/Mluvka-Light.otf") format("truetype");
}

@font-face {
  font-family: "Mluvka-bold";
  src: url("../fonts/Mluvka-Bold.otf") format("truetype");
}

.font-reg {
  font-family: 'Mluvka-reg', sans-serif;
  font-weight: 100;
}

.font-bold {
  font-family: 'Mluvka-bold', sans-serif;
  font-weight: 100;
}

.font-light {
  font-family: 'Mluvka-light', sans-serif;
  font-weight: 100;
}

